<div class="CommentList__item">
  <p><%= simple_format(comment.comment) %></p>
  <div class="CommentList__bottom-line">
    <span class="d-sm-inline-block">
      <%= image_tag user_icon(comment.user), class: "NavProfile__avatar--sm", alt: 'アバター' %>
      <%= comment.user&.name || "ゲスト" %>
    </span>
    <span><%= comment.created_at.to_formatted_s(:datetime_jp) %></span>
    <span><%= link_to "削除", comment, data: { turbo_method: "delete", turbo_confirm: "削除してよろしいですか？" } %></span>
  </div>
</div>
