<header class="sticky-top">
  <nav class="navbar Navbar">
    <div class="container">
      <%= link_to "GREEN POST", root_path, class: "Navbar__logo" %>

      <% if user_signed_in? %>
        <div class="UserActions">
          <%= link_to new_post_path, class: "UserActions__post-button" do %>
            <%= image_tag "icons/camera-white.svg", alt: "カメラアイコン", class: "UserActions__icon" %>
            投稿
          <% end %>

          <div class="dropdown">
            <div class="UserDropdown" id="dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= render partial: "shared/user_profile", locals: { user: current_user } %>

              <svg class="UserDropdown__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            </div>

            <ul class="dropdown-menu DropdownMenu" aria-labelledby="dropdown-button">
              <li class="DropdownMenu__item"><%= link_to "私の投稿一覧", mypost_posts_path %></li>
              <hr class="DropdownMenu__hr">
              <li class="DropdownMenu__item"><%= link_to "アカウント設定", users_account_path %></li>
              <hr class="DropdownMenu__hr">
              <li class="DropdownMenu__item"><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <ul class="navbar-nav flex-row align-items-center">
          <li class="nav-item NavItem"><%= link_to "ログイン", new_user_session_path, class: 'fw-bold NavItem__link NavItem__link--login' %></li>
          <li class="nav-item NavItem"><%= link_to "新規登録", new_user_registration_path, class: 'btn fw-bold NavItem__link NavItem__link--register' %></li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>