<div class="PostDetailsContainer">
  <div class="PostDetailsHeader">
    <%= link_to :back, class: "PostDetailsHeader__link" do %>
      <%= image_tag "icons/arrow-back-blue.svg", alt: "戻るアイコン" %>戻る
    <% end %>
  </div>

  <div class="PostDetails">
    <%= image_tag post_image(@post), alt: "写真", class: "PostDetails__image" %>

    <div class="PostDetailsBody">
      <%= render partial: "shared/user_profile", locals: { user: @post.user } %>

      <div class="PostDetailsBody__title-and-content">
        <p class="PostDetails__title"><%= @post.title %></p>
        <p class="PostDetails__content"><%= @post.content %></p>
      </div>
    </div>
  </div>

  <!-- いいね機能 -->
  <div class="PostDetailsLike">
    <%= render partial: "shared/posts/like_button", locals: { post: @post } %>
  </div>

  <!-- コメント表示-->
  <div class="CommentList">
    <div class="CommentList__title">コメント</div>
    <% @comments.each do |comment| %>
      <%= render "shared/comments/comment", comment: comment %>
    <% end %>
  </div>

  <!-- コメントフォーム機能 -->
  <%= render "shared/comments/form", comment: @comment %>
</div>