<div class="container PostDetailsContainer">
  <div class="PostDetailsHeader">
    <%= link_to :back, class: "PostDetailsHeader__link" do %>
      <%= image_tag "icons/arrow-back-blue.svg", alt: "戻るアイコン" %>
      戻る
    <% end %>
  </div>

  <div class="PostDetails">
    <%= image_tag post_image(@post), alt: "写真", class: "PostDetails__image" %>

    <div class="PostDetailsBody">
      <div class="d-flex align-items-center NavProfile" id="dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag user_icon(@post.user), class: "NavProfile__avatar", alt: 'アバター' %>

        <span class="nav-item d-sm-inline-block d-none NavProfile__name">
          <%= @post.user&.name || "ゲスト" %>
        </span>
      </div>
      <div class="PostDetailsBody__title-and-content">
        <p class="PostDetails__title">
          <%= @post.title %>
        </p>

        <p class="PostDetails__content">
          <%= @post.content %>
        </p>
      </div>
    </div>
  </div>
</div>