<section class="container UserSection">
  <h2>設定</h2>

  <div class="UserContainer">
    <%= render "/shared/users/side_navigation" %>

    <div class="AccountInformation">
      <%= render "/shared/users/tab_navigation" %>

      <div class="AccountInformation__header">
        <h3>アカウント</h3>

        <%= link_to edit_user_registration_path, class: "AccountInformation__link" do %>
          <%= image_tag "icons/edit-blue.svg", alt: "編集アイコン" %>
          編集
        <% end %>
      </div>

      <div class="AccountInformation__input-group">
        <%= label_tag :email, "メールアドレス", class: "AccountInformation__label" %>

        <p class="AccountInformation__value">
          <%= current_user.email %>
        </p>
      </div>

      <div class="AccountInformation__input-group">
        <%= label_tag :password, "パスワード", class: "AccountInformation__label" %>

        <p class="AccountInformation__value">
          *********
        </p>
      </div>
    </div>
  </div>
</section>